#profile {
    background-color: #08a045;
}


.input-group {
    max-width: 100%;
    border: none;
}

.form-control {
    border-radius: 0.375rem;
    width: 100%; /* Ensure full width of parent */
}

.input-group-text, .name-label {
    border-radius: 0.375rem 0 0 0.375rem;
    background-color: #0b6e4f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-box .form-floating {
    width: 100%; /* Ensure the form-floating div takes full width */
    margin-bottom: 1rem; /* Add some margin between input fields */
}
