/* navbar.css */
.login-button {
    background-color: #0b6e4f;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17.5px;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #08a045;
}

.navbar {
    background-color: #d1d3ab;
    height: 80px;
    margin: 15px;
    border-radius: 35px;
    padding: 0.5rem;
}

.nav-link {
    color: rgb(32, 24, 69);
    font-weight: 450;
    position: relative;
    font-size: 17px;
}

a {
    text-decoration: none;
}

#spmsbranding {
    margin-left: 10px;
}

.searchbar {
    background-color: #0b6e4f;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    opacity: 100%;
    font-size: 17.5px;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s background-color;
}

.searchbar:focus {
    outline: none; /* Ensure no outline on focus */
    /* Optional: Add your own styles */
    box-shadow: none; /* Remove any box-shadow if present */
}

.searchbar::placeholder {
    opacity: 75%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        /* padding: 0.5rem 1rem; */
        margin: 0;
        border-radius: 0;
    }

    .searchbar, .login-button {
        /* margin: 5px; */
        /* padding: 5px 10px; */
        font-size: 14px;
    }

    .searchbar {
        flex: 1; /* Allow search bar to grow and shrink */
    }
}

@media (max-width: 407px) {
    .searchbar {
        /* padding: 3px 6px; */
        font-size: 14px;
    }

    .login-button {
        /* padding: 3px 6px;
        font-size: 14px; */
    }

    .navbar-brand {
        font-size: 1.5rem;
    }
    #spmsbranding {
        font-size: 1px;
    }
}
