.body{
    background-color: #6bbf59;
}
#tooltip{
    position: relative;
  display: inline-block;
}
#tooltip #tooltiptext{
    visibility: hidden;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 1;
    width: 130px;
    text-align: center;
    right: 50%;
    top: 100%;
    margin-right: -65px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    border-radius: 10px ;
    font-size: small;
    opacity: 0%;
    transition: all 0.5s ;
    /* transition : 1s; */


}
#tooltip:hover #tooltiptext{
    visibility: visible;
    transition:  all 0.5s ease 0.5s;
    opacity: 90%;
}
#table{
    height: 110px;
}

.profile-setting-button{
    transition: all 0.5s !important;
}

.profile-setting-button:hover{

    background-color: #d1d3aba4 !important;
    /* color: #002d1f !important; */
    transition: all 0.5s ;
    opacity: 90%;

}
.logout-button.hover{
    background-color: rgba(255, 255, 255, 0) !important;
    transition: all 0.5s !important;
}